@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron row justify-content-between align-items-center p-md-5 text-dark rounded bg-light">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Welkom op de pagina van het IT-LAB</h1>
        <p class="lead my-3">
            Hier kan je de geplande IT-Lab sessies raadplegen. Inschrijven doe je op de pagina "Sessies", waar je ook alle details kan terugvinden.
        </p>
    </div>
    <div class="col-md-5 px-0">
        <img class="img-fluid rounded" src="~/images/itlab.jpg"/>
    </div>
</div>

